.bio-card {
  width: 400px;
  height: 600px;
  margin: 10px;
  background-color: lightgray;
  border: solid 1px red;
}

.suggestions:hover {                                                                                               
  background-color: aqua;
}

.img-holder{
  margin: 5%;
  height: 300px;
  overflow: hidden;  
}

img {
  height: 400px;
  margin-top: -50px;
} 